{require_otp_vsn, "17"}.

{erl_opts,
 [{parse_transform, lager_transform}]}.

{deps_dir, "deps", "deps/loom/simple_ne"}.
{deps, [
	{yaws, ".*", {git, "https://github.com/klacke/yaws.git", {tag, "master"}}},
	{flowcompiler, ".*",{git, "https://github.com/shivarammysore/flowcompiler.git", {tag, "master"}}}
       ]
}.

{sub_dirs,
 ["apps/ivanos","apps/oberon","rel"]
}.

{cover_enabled, true}.
{cover_print_enabled, true}.

%% EDoc options
{edoc_opts, []}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.